@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/plain.jpg);
}

body, input, button {
    font-family: 'Nanum Gothic';
}

a {
    text-decoration: none;
}

.welcome-message {
    font-family: 'Parisienne';
    font-size: 4rem;
    font-weight: 900;
    color: #000;
    margin: 20px 0 0 30px;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 35px;
    margin-bottom: 25px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form > #id, #password, #login {
    margin-bottom: 15px;
    padding: 10px;
    width: 280px;
    height: 45px;
}

#form > #id, #password {
    font-size: 16px;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
}

#form > #password {
    margin: 0 0 35px 0;
}

#form > label {
    font-size: 16px;
    margin-bottom: 5px;
}

#login {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    background-color: #D3D3D3;
    padding: 13px;
}

#login:hover {
    color: #fff;
    background-color: #000;
    transition: 0.3s;
}

#signup {
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 280px;
    color: #fff;
    background-color:#708090;
    border-style: none;
    padding: 13px;
}

button {
    cursor: pointer;
}

@media only screen and  (max-width: 480px) {
    .welcome-message {
        font-size: 2.5rem;
        margin: 20px 0 0 0;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    #form > label {
        font-size: 1rem;
    }

    #form > #id, #password, #login {
        margin-bottom: 15px;
        padding: 10px;
        width: 280px;
        height: 40px;
        font-size: 0.9rem;
    }

    #signup {
        margin-bottom: 15px;
        padding: 10px;
        width: 280px;
        height: 40px;
        font-size: 0.9rem;
    }
}