@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/plain.jpg);
}

body, input, button {
    font-family: 'Nanum Gothic';
}

.logo {
    text-decoration: none;
}

.welcome-message {
    font-family: 'Parisienne';
    font-size: 4rem;
    font-weight: 900;
    margin: 20px 0 0 30px;
    color: #000;
}

.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form > label {
    margin-bottom: 5px;
    margin-top: 5px;
}

#form > #id, #password, #name, #phone{
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
}

#form > #signup {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    background-color: #D3D3D3;
    padding: 13px;
}

#form > #signup:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}

#form > .pwd-container {
    font-size: 13px;
}

#form > .pwd-container p {
    display: inline-block;
}

#form > .pwd-container > div {
    display: inline-block;
    float: right;
}

#showPass {
    width: 12px;
    height: 12px;
}

.error {
    width: fit-content;
    font-size: 13px;
    color: #bd2130;
}

.fieldError {
    border-color: #bd2130;
}