*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NanumSquareRound';
    font-weight: normal;
    font-style: normal;
}

body, input, button {
    font-family: 'GmarketSansMedium';
}

.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form > label {
    margin-bottom: 5px;
    margin-top: 5px;
}

#form > #id, #password, #name, #phone{
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
}

#form > #signup {
    font-size: 16px;
    margin-top: 10px;
    border-style: none;
    border: 5px solid #5a5a5a;
    border-radius: 4px;
    color: #fff;
    background-color:#5C5CFF;
    border-style: none;
    padding: 13px;
}

#form > .pwd-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

#showPass {
    width: 12px;
    height: 12px;
}

.error {
    width: fit-content;
    font-size: 13px;
    color: #bd2130;
}

.fieldError {
    border-color: #bd2130;
}