<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/currentLetter.css">
</head>
<body>
<div class="letter-container">
  <h1 th:text="${letterEntity.title}">Title</h1>
  <hr>
  <div class="content" th:text="${letterEntity.content}">something</div>
</div>
</body>
</html>
