<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css">

    <title>마이 엔딩 크레딧</title>
</head>
<body>
<div class="container">
    <div class="text-container">
        <div class="welcome-message">친구들의 편지로<br>당신만의 엔딩 크레딧을 채워보세요!</div>
        <div class="small-container">
            <!--                <a href="../../../../../../Rolling_paper/Front_repo/login.html"><div class="get-started">시작하기</div></a>-->
            <a th:href="@{/user/login}"><div class="get-started">로그인</div></a>
            <a th:href="@{/user/signup}"><div class="get-started">회원가입</div></a>

<!--            <a th:href="@{/post/{link}(link=${randomLink})}">내 글 보러가기</a>-->

        </div>
    </div>
</div>
</body>
</html>