<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/login.css">

    <title>마이 엔딩 크레딧</title>
</head>
<body>
    <a href="" class="logo"><div class="welcome-message">Dear myself,</div></a>
    <div class="login-container">
        <h1>로그인</h1>
        <form action="/user/login" method="post" id="form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <label for="id">이메일</label>
            <input type="text" id="id" name="username" placeholder="이메일을 입력해주세요">

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호">

            <button type="submit" id="login">로그인</button>
        </form>
        <a th:href="@{/user/signup}"><button id="signup">회원가입</button></a>
    </div>
</body>
</html>