<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/signup.css">

    <title>마이 엔딩 크레딧</title>
</head>

<body>

<div class="signup-container">
    <h1>회원가입</h1>

    <form id="form" action="/user/signup" method="post" th:object="${memberDto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label for="id">아이디</label>
        <input type="text" id="id" th:field="*{email}" class="form-control"
               placeholder="이메일을 입력하세요"
               th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
        <p class="error" th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}">Incorrect date</p>

        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" class="form-control"
               placeholder="비밀번호를 입력해주세요"
               th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
        <div class="pwd-container">
            <p class="error" th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">Incorrect date</p>
            <div>
                <input type="checkbox" id="showPassword" onclick="showPassword()"> 비밀번호 표시
            </div>
        </div>

        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="이름">

        <label for="phone">전화번호</label>
        <input type="text" id="phone" name="phone_number" placeholder="01012345678">

        <button type="submit" id="signup">가입하기</button>
    </form>
</div>

<script src="/js/signup.js"></script>

</body>
</html>